@font-face {
  font-family: blackout_two_am-webfont;
  src: url(./fonts/blackout_two_am-webfont.ttf) format(truetype),
    url(./fonts/blackout_two_am-webfont.woff) format(woff),
    url(./fonts/blackout_two_am-webfont.woff2) format(woff2);
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  color: hotpink;
  font-family: blackout_two_am-webfont, monospace;
  margin: 0 auto;
  background-color: #333333;
  /*   background: radial-gradient(
      circle,
      transparent 20%,
      silver 20%,
      silver 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        silver 20%,
        silver 80%,
        transparent 80%,
        transparent
      )
      50px 50px,
    linear-gradient(rgb(0, 136, 255) 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, aliceblue 8px, transparent 8px) -4px 0;
  background-color: silver;
  background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px; */
}

h1 {
  background-color: black;
  width: fit-content;
}

.ptop {
  background-color: black;
  width: fit-content;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(20vh, 20vh);
  margin: 0 auto;
  gap: 0.5rem;
}

.one {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-image: url(./img/2013-hochzillertal-kaltenbach-1128.jpg);
  background-size: cover;
  background-position: center;
}
.two {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-image: url(./img/2014-zillertalarena-1285.jpg);
  background-size: cover;
  background-position: center;
}
.three {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-image: url(./img/2015-kaltenbach-1134.jpg);
  background-size: cover;
  background-position: center;
}
.four {
  grid-column: 1 / 1;
  grid-row: 3 / 4;
  background-image: url(./img/2015-kaltenbach-1151.jpg);
  background-size: cover;
  background-position: center;
}
.five {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  background-image: url(./img/2022-zillertalarena-1333.jpg);
  background-size: cover;
  background-position: center;
}

.pbottom {
  background-color: hotpink;
  color: black;
  text-align: right;
  width: 100vw;
  margin-top: 1rem;
}
